<header>
<section class="about">
  <section class="avatar"><a href="/"><img src="https://secure.gravatar.com/avatar/41d10fd7a29a3966794f772d368ebb13.png?s=75&r=x&d=mm" alt="gravatar"/></a></section>
  <section class="fullname">Bates Westmoreland</section>
  <section class="links">
    <a class="twitter" href="https://twitter.com/rbwestmoreland" title="twitter">twitter</a>    <a class="github" href="https://github.com/rbwestmoreland" title="github">github</a>    <a class="rss" href="/atom.xml" title="rss">rss</a>
  </section>
</section>
</header>