<header>
<section class="about">
  <section class="avatar">    <a href="/"><img src="https://secure.gravatar.com/avatar/41d10fd7a29a3966794f772d368ebb13.png?s=75&r=x&d=mm" alt="gravatar"/></a></section>
  <section class="fullname">Bates Westmoreland</section>
  <section class="links">
    <a class="twitter" href="https://twitter.com/rbwestmoreland" title="twitter" target="_blank">twitter</a>    <a class="github" href="https://github.com/rbwestmoreland" title="github" target="_blank">github</a>    <a class="rss" href="/atom.xml" title="feed" target="_blank">feed</a>
  </section>
    <section class="pages">
    <a href="/projects" title="projects">projects</a>
    <a href="/about" title="about">about</a>
  </section>
</section></header>